{% assign menus = site.data.[page.menubar] %}

<aside class="menu">
    <p class="menu-label">Recettes</p>
    <ul class="menu-list">
        {% assign categories = site.pages | where: "layout", "category" %}

        {% for category in categories %}
        <li>
            <a href="{{ category.url }}"
                class="{% if category.url == page.url %}is-active{% endif %}">{{category.title}}</a>
            <ul>
                {% assign recipes = site.pages | where: "layout", "recette" | where: "recipe_category", category.title
                %}
                {% for recipe in recipes %}
                <li><a href="{{ recipe.url }}" class="{% if recipe.url == page.url %}is-active{% endif %}">{{
                        recipe.title }}</a></li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
</aside>