{%- macro from_section(section) -%}
{%- set section = get_section(path=section) -%}
{%- for post in section.pages -%}
{%- if not post.draft -%}
{% set banner = "/img/default-banner.jpg" %}
{% if post.extra.image is defined %}
  {% set banner = post.colocated_path ~ post.extra.image %}
{% endif %}
{% set scaled_banner = resize_image(path=banner, width=512, op="fit_width") %}
{% set scaled_banner_url = scaled_banner.static_path | trim_start_matches(pat="static/") %}
{% set page = post %}
{
"url": {{ post.path | json_encode | safe }},
"data": { "title": {{ post.title | json_encode | safe }}, "miniature": {{ "/" ~ scaled_banner_url | json_encode | safe }} , "description": {{ post.description | json_encode | safe }} },
"content": "{% if post.taxonomies.ingredients is defined %}{% for ingredient in post.taxonomies.ingredients %}{% for token in ingredient | lower | split(pat=" ") %}{% if token is matching("\D") %}{{ token | safe}}{% endif %} {% endfor %}{% endfor %}{% endif %}{%- if post.taxonomies.tags -%}{% for tag in post.taxonomies.tags %} {{ tag }} {%- endfor -%}{%- endif -%}"
}
{%- if not loop.last -%},{%- endif %}
{%- endif -%}
{%- endfor -%}
{%- if section.subsections -%},
{%- for subsection in section.subsections -%}
{{ self::from_section(section=subsection) }}
{%- if not loop.last -%},{%- endif %}
{%- endfor -%}
{%- endif -%}
{%- endmacro from_section -%}