---
layout: default
---

<script type="application/ld+json">
{
    "@context": "https://schema.org/",
    "name": "{{ page.title }}"
}
</script>

<div class="columns is-multiline">
    <div class="column is-8">
        <p class="title is-4">{{ page.title }}</p>
        <div class="content">
            {{ content }}
        </div>
        <div class="content">
            {% assign categories = site.pages | where: "layout", "category" %}

            {% for category in categories %}
            <a href="{{ category.url }}" class="card">
                <div class="card-content">
                    <p class="content">
                        {{ category.title }}
                    </p>
                </div>
            </a>
            {% endfor %}

        </div>
    </div>