---
layout: default
---

<script type="application/ld+json">
{
    "@context": "https://schema.org/",
    "name": "{{ page.title }}"
}
</script>

<div class="columns is-multiline">
    <div class="column is-8">
        <p class="title is-4">{{ page.title }}</p>
        <div class="content">
            {{ content }}
        </div>
        <div class="content">
            {% assign recipes = site.pages | where: "recipe_category", page.title %}

            <ul>
                {% for recipe in recipes %}
                <a href="{{ recipe.url }}" class="card">
                    <div class="card-content">
                        <p class="content">
                            {{ recipe.title }}
                        </p>
                    </div>
                </a>
                {% endfor %}
            </ul>

        </div>
    </div>